<configuration>
  <system.webServer>

    <!-- On servers where node has not been added to the path, this tells iisnode where to find the node executable -->
    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

    <!-- IIS needs a mimeType for font-face (.woff2) http://stackoverflow.com/questions/25796609/font-face-isnt-working-in-iis-8-0 -->
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <!-- /server/app.js is a node.js application to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="/server/app.js" verb="*" modules="iisnode" />
    </handlers>
  
    <rewrite>
      <rules>

        <!-- Have IIS serve static content requests (anything starting with "client") -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(client)\b" />
        </rule>
        
        <!-- For everything else, send it to the NodeJS application running at /server/app.js -->
        <rule name="DynamicContent">
          <action type="Rewrite" url="/server/app.js"/>
        </rule>
        
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
