
<!-- Display SENT message -->
<div id="readSentMessage" data-bind="if: isReadingSentMessage" >
  <div class="panel panel-default" style="height: 500px">
    <div class="panel-heading">
        <h3 class="panel-title"><span data-bind="text: messageToRead().subject"></span>
        <div data-bind="visible: isReadingSentMessage, click: function() {isViewingSentMessages(true); isReadingSentMessage(false)}" class="fa fa-arrow-left pull-right" style="cursor: pointer"></div></h3>
        <div class="clearfix"></div>
        </br>
        From: <span data-bind="text: messageToRead().from"></span> </br> 
        To: <span data-bind="text: messageToRead().to"></span> </br> 
        Date: <span data-bind="date: {value:messageToRead().sent, format:'MM/DD/YYYY hh:mm a'} "></span> </br>
    </div>
    <div class="panel-body">
      <p style="white-space: pre-wrap"><span data-bind="text: messageToRead().message"></span></p>
    </div>
  </div>
</div>

<!-- Display sent inbox -->
<table class="table" id='sentInboxDisplay' data-bind="visible: isViewingSentMessages">
  <thead>
      <tr><th><div class="fa fa-trash" style="cursor:pointer" data-bind="click: $parent.trashSentButton" ></div></th><th>To</th><th>Subject</th><th>Date</th></tr>
  </thead>
  <tbody data-bind="foreach: $parent.sentData">
      <tr data-bind="style: { background: unread == 1 ? 'ghostwhite' : 'none', cursor: 'pointer'}">
          <td><input type="checkbox" data-bind="checkedValue: $data, checked: $parents[1].selectedSentMessages"/></td>
          <td data-bind="text: to, click: $parent.openMessage"></td>
          <td data-bind="text: subject, click: $parent.openMessage"></td>
          <td data-bind="date: { value: sent, format: 'MM/DD/YYYY hh:mm a' }, click: $parent.openMessage"></td>             
      </tr>
  </tbody>
</table>
