<div class="container-fluid">
    <div class="row" >
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
            <!-- <img src="/img/chhs.jpg"/> -->
            <h1  style="text-align:center"> Welcome to CHHS's </h1>
            <h1 style="text-align:center" > Foster Care Management Tool</h1>
            </br>
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
            {{#if info}}
            <div class="bg-info alert">
                    <span>{{info}}</span>
            </div>
            {{/if}}
            {{#if warning}}
            <div class="bg-warning alert">
                    <span>{{warning}}</span>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <form class="form-signin col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4" role="form" action="/login" method="post">
            <h2 class="form-signin-heading" style="text-align:center">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input required name="username" type="email" id="inputEmail" class="form-control"
                   placeholder="Email address"
                   required autofocus>
            <input id="password" name="password" value="ignored" type="hidden">
            <input id="returnUrl" name="returnUrl" type="hidden">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Sign in</button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
            <a href="/register">Not registered? Click here</a>
        </div>
    </div>
</div>

 <!-- col-xs-offset-4 -->